{% extends "base.html" %}
{% block title %}
список_курсов
{% endblock %}
{% block style %}
{% include "inc-style.html" %}
{% endblock %}
{% block meta %}
{% include "inc-meta.html" %}
{% endblock %}
{% block header %}
{% include "inc-header.html" %}
{% endblock %}
{% block sidebar %}
{% include "inc-sidebar.html" %}
{% endblock %}
{% block content %}
<div id="content">
    <h1>О нас</h1>
    <p>Ниже размещена краткая информация о нас:</p>
</div>
{% endblock %}
{% block footer %}
{% include "inc-footer.html" %}
{% endblock %}