{% extends "base.html" %}
{% block title %}
создание_курса
{% endblock %}
{% block style %}
{% include "inc-style.html" %}
{% endblock %}
{% block meta %}
{% include "inc-meta.html" %}
{% endblock %}
{% block header %}
{% include "inc-header.html" %}
{% endblock %}
{% block sidebar %}
{% include "inc-sidebar.html" %}
{% endblock %}
{% block content %}
<div id="content">
    <div>
        <a href="/course_list/?id={{id}}">назад</a>
    </div>

    <br>
    <br>

    <div>
        <h1>Создание курса для категории "{{name}}"</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Название">
            <button type="submit">Сохранить и вернуться к списку курсов</button>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "inc-footer.html" %}
{% endblock %}